doctype html
html
  head
    include ./components/head.jade
  body

      header.p-3.font-sans.text-center.text-white.bg-dark
      
        div.container.tier-status
          .d-none.d-md-flex.mb-3
            div.w-50
              div.text-left.fs-12="Tier 1"
              .progress.my-1.mx-2
                .progress-bar.bg-success(style="width: " + (skillBadgeCount / 3 * 100) + "%")=Math.ceil(skillBadgeCount / 3 * 100) + "% skill"
                .progress-bar.bg-light.text-dark(style="width: " + (regularBadgeCount / 4 * 100) + "%")=Math.ceil(regularBadgeCount / 4 * 100) + "% regular"
            div.w-50
              div.text-left.fs-12="Tier 2"
              .progress.my-1.mx-2
                .progress-bar.bg-success(style="width: " + (skillBadgeCount / 6 * 100) + "%")=Math.ceil(skillBadgeCount / 6 * 100) + "% skill"
                .progress-bar.bg-light.text-dark(style="width: " + (regularBadgeCount / 8 * 100) + "%")=Math.ceil(regularBadgeCount / 8 * 100) + "% regular"

        div.container
          div.pt-md-3.pb-md-1
            .d-inline-flex
              h1.bd-title.mt-0= profileName
              span.ml-2.cursor-pointer.align-self-center.font-weight-bolder.text-danger
                i.bi.bi-camera.screenshot(title="Chia sẻ kết quả")
            p.bd-lead Bạn đang có 
              span.badge.badge-light= totalBadges
              |  badges hợp lệ, trong đó 
              span.badge.badge-light= skillBadgeCount
              |  skill badges và 
              span.badge.badge-light= regularBadgeCount
              |  regular badges
            p(style="font-size: 20px; margin: 10px 0;", class=isCompleted ? "text-success" : "text-danger")= rewardMessage

      main
        div.px-2.font-sans.container
          div.table-responsive

            //- .d-flex
            //-   h3.d-none.d-md-inline.flex-grow-1
            //-     | Tất cả các badge của 
            //-     span.text-danger=profileName 
            //-     |  trong Season 6

            table.table
              thead
                tr
                  th #
                  th Khóa học
                  th.d-none.d-md-table-cell.text-center Nộp bài lúc
                  th.d-none.d-md-table-cell.text-center Trạng thái
              tbody
                  - each badge, i in badgesOfUser
                    tr(class=badge.season && badge.badge_status == 'OK' ?  badge.season + ' ' + badge.badge_status : 'non-GSP-SS6')
                      td= i+1
                      td
                        
                        if badge.id
                          a(href="https://www.cloudskillsboost.google/course_templates/" + badge.id, target="_blank")=badge.name
                        else
                          span=badge.name

                        if badge.season
                          small.px-2.text-danger.badge.text-wrap(style="font-size:9px")=badge.type

                        div.text-muted 
                          if badge.time_completed_str != '-'
                            span.fs-12.fw-light.pr-2.d-inline.d-md-none
                              i.pr-1.bi.bi-calendar3.text-dark
                              =badge.time_completed_str 
                          span.fs-12.fw-light.pr-2.d-inline.d-md-none
                            case badge.badge_status
                              when 'NOT_IN_SS6'
                                i.pr-1.bi.bi-ban.text-danger
                                | Nằm ngoài SS6
                              when 'TIME_NOT_OK'
                                i.pr-1.bi.bi-ban.text-danger
                                | Sai thời gian
                              when 'NOT_COMPLETE'
                                i.pr-1.bi.bi-award.text-dark
                                | Chưa học
                              when 'OK'
                                i.pr-1.bi.bi-check-circle-fill.text-success
                                | Hợp lệ
                              default
                                i.pr-1.bi.bi-check-circle-fill.text-dark
                                =badge.badge_status
                          
                        if badge.duration_complete_str
                          div.d-none.d-md-block.fs-14.text-dark.pt-1
                            i.pr-1.bi.bi-clock-history
                            span=badge.duration_complete_str

                      td.d-none.d-md-table-cell.text-center.fs-14(title=badge.time_completed_hint)= badge.time_completed_str 
                      td.d-none.d-md-table-cell.text-center.fs-14
                        case badge.badge_status
                          when 'NOT_IN_SS6'
                            i.pr-1.bi.bi-ban.text-danger
                            | Nằm ngoài SS6
                          when 'TIME_NOT_OK'
                            i.pr-1.bi.bi-ban.text-danger
                            | Sai thời gian
                          when 'NOT_COMPLETE'
                            i.pr-1.bi.bi-award.text-dark
                            | Chưa học
                          when 'OK'
                            i.pr-1.bi.bi-check-circle-fill.text-success
                            | Hợp lệ
                          default
                            i.pr-1.bi.bi-check-circle-fill.text-dark
                            =badge.badge_status

      include ./components/footer.jade