doctype html
html
  head
  include ./components/head.jade
  body

    
      header.p-3.font-sans.text-center.font-sans
        div.container
          div.pt-md-3.pb-md-1
            h1.bd-title.mt-0= profileName
            p.bd-lead Bạn đang có 
              span.badge.badge-dark= totalBadges
              |  badges, trong đó 
              span.badge.badge-dark= skillBadgeCount
              |  skill badges và 
              span.badge.badge-dark= regularBadgeCount
              |  regular badges  

      main
        div.p-2.font-sans
          div.table-responsive
            h3
              | Tất cả các badge của 
              span.text-danger=profileName
            table.table
              thead
                tr
                  th #
                  th Khóa học
                  th.text-center Thời gian hoàn thành
                  th.text-center Trạng thái
              tbody
                  - each badge, i in badgesOfUser
                    tr
                      td= i+1
                      td= badge.title
                      td.text-center(title=badge.timeHint)= badge.timeStr
                      td.text-center
                        case badge.status
                          when 'NOT_IN_SS6'
                            i.pr-1.bi.bi-ban.text-danger
                            | Không nằm trong SS6
                          when 'TIME_NOT_OK'
                            i.pr-1.bi.bi-ban.text-danger
                            | Thời gian không hợp lệ
                          default
                            i.pr-1.bi.bi-check-circle-fill.text-success
                            | Hợp lệ